header{
    height: 120px;
    width: 100%;
    background-color: rgb(250, 187, 155);
    text-align: center;
    padding-top: 10px;
    font-size: 90px;
    display: flex;
    justify-content: flex-start;
    color: #330606;
    font-family: Courier New, monospace;
    font-size: 25px;
   
}
.headcontent{
    margin: 0px 20px 0px 50px;
    font-size: 90px;
}
main{
    width: 96%;
    background-color: rgb(255, 243, 214);
    margin: 20px;
    text-align: center;
    color: #330606;
    font-family: Courier New, monospace;
    font-size: 25px;
}
footer{
    padding: 50px 0 0 0;
    height: 200px;
    width: 100%;
    background-color: rgb(32, 56, 55);
    text-align: right;
    font-family: Courier New, monospace;
    font-size: 25px;
    color: #ffffff;
}
footer p{
    text-align: right;
    margin-right: 80px;
}
table{
    width: 1200px;
    background-color:rgb(250, 187, 155);
    margin: 40px;
    padding: 10px;
    
}
tr{
    border-radius: 15px;
    background-color:rgb(250, 187, 155);
    padding: 20px;
    margin: 30px;
    text-align: center;
}
td{
    border-radius: 15px;
    width: 20%;
    height: 350px;
    background-color: rgb(250, 187, 155);
    margin: 20px;
    border-radius: 10px;    
    text-align: left;

}
p{
    text-align: center;
}

article{
    margin: 40px;
    background-color: rgb(250, 187, 155);
    padding: 20px;
    border-radius: 15px;
    
}

img{
    border-radius: 10px;
}
.logo{
    width: 130px;
    height: 115px;
}